@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-body;
}

html,
body,
.r3f
{
    touch-action: none;
    width: 100%;
    height: calc(100vh - 64px);
}
.htmlScreen iframe
{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: black;
}
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    touch-action: none;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.top-0 {
    top: 0px;
}
.right-0 {
    right: 0px;
}
.bottom-0 {
    bottom: 0px;
}
.left-0 {
    left: 0px;
}
.mb-6 {
    margin-bottom: 1.5rem; /* 24px */
}
.leva-c-kWgxhW {
    margin-top: 4rem;
}
.c-kEkIHu {
    margin-top: 65px !important;
}
.pulse {
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}
